
.home {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.home .search-widget {
  width: 600px;
}

.home .search-widget .search-params {
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dotted grey;
  background: white;
  padding: 5px;
}

.home .search-widget .search-box {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: white;
}

.home .searchLogo {
  max-height: 70px;
  margin-bottom: 15px;
}

