
.home {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.home .search-box {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  min-width: 600px;
  border-radius: 15px;
  background-color: white;
  border: 1px solid grey;
}

.home .searchLogo {
  max-height: 70px;
  margin-bottom: 15px;
}

