
.results {
  background-color: white;
  min-height: 100vh;
  padding: 25px;
  padding-top: 5px;
}

.results .table {
  display: grid;
}

.results .table .title {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-bottom: 5px;
  padding: 5px;
  font-weight: bold;
}

.results .table .fields {
  grid-template-columns: repeat(6, 1fr);
  padding: 0px;
  display: block;
  background-color: transparent;
  color: black;
  display: grid;
  grid-column: span 6;
  padding: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.results .table .tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 5px;
  grid-column: span 6;
}


.results .table .element {
  margin-right: auto;
  padding-left: 2px;
  padding-right:2px;
  font-size: 15px;
}


.results .info-bar {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
}

.results .info-bar .back-icon {
  max-height: 50px;
  margin-left: auto;
}

.results  .info-bar .search-box {
  margin-top: 10px;
  border-radius: 16px;
  background: transparent;
  width: 600px;
  margin-top: auto;
  margin-bottom: auto;
  box-shadow: rgba(149, 157, 165, 0.264) 0px 0px 15px;
}


.results .info-bar .params {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.results .loading {
  padding-top: 200px;
  width: 0px;
  margin: auto;
}

.results .loading .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid black; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}