.results__nav_logo{
	max-height: 30px;
	max-width: 111px;
}
.results {
    background-color: white;
    height: 100vh;
}

.results__body {
    display: block;
    margin-top: 10%;
    flex-direction: column;
    
}

.results__body > img {
    object-fit: contain;
    height: 100px;
}



@media screen and 
    (max-width: 750px)
{

    .search {
        max-width: 560px;
    }

    .results__body > img {
        object-fit: contain;
        height: 70px;
    }
}