.results__nav_logo{
	max-height: 30px;
	max-width: 111px;
}
.results {
    background-color: white;
    height: 100vh;
}

.results__header {
    background-color: #202124;
    display: flex;
    gap: 20px;
    padding: 20px 20px;
    align-items: center;
}

.results__header a {
    margin-right: 20px;
    text-decoration: inherit;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
}

.results__header a:hover {
    text-decoration: underline;
}

.results__nav_search{
    vertical-align: middle;
}

.results__body {
    display: block;
    margin-top: 10%;
    flex-direction: column;
    
}

.results__body > img {
    object-fit: contain;
    height: 100px;
}



@media screen and 
    (max-width: 750px)
{

    .search {
        max-width: 560px;
    }

    .results__body > img {
        object-fit: contain;
        height: 70px;
    }
}