.navbar {
    background-color: #202124;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 20px;
    align-items: center;
}

.navbar .logo{
	max-height: 30px;
	max-width: 111px;
}
