
.results-card {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
	box-shadow:  rgba(149, 157, 165, 0.264) 0px 0px 15px;	
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0px 15px 15px 15px;
}

.results-card .multi-param{
  display:flex;
  flex-wrap: wrap;
}

.results-card-all:hover .results-card{
  background: rgb(225, 225, 225);
}

.results-card-all .pop-up .card-buttons{
  background: white
}

.results-card-all:hover .pop-up .card-buttons{
  background: rgb(225, 225, 225);
}

.results-card-all .pop-up .card-buttons {
  margin-right: auto;
  border-radius: 15px 15px 0px 0px;
  box-shadow:  rgba(149, 157, 165, 0.136) 0px -7px 10px;	
  width: fit-content;
  transform: translate(0, 10px);
}

.results-card-all .card-buttons button {
  background:#202124ff;
  padding: 5px 10px 5px 10px;
  margin: 5px 5px 5px 5px;
  border-radius: 15px;
  font-size: 15px;
  color:white;
  border:none;
}


.results-card-all .card-buttons button:hover {
  background:gray;
}