.tag .icon {
  max-width: 20px;
}

.tag {
  display: flex;
  border-radius: 15px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  color: white;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.tag:hover {
  cursor: pointer;
  background-color: grey;
}

.invisible-tag {
  display: flex;
  border-radius: 15px;
  margin-top: 2px;
  margin-right: 2px;
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.invisible-tag .icon {
  display: none;
}

.invisible-tag:hover .icon {
  display: block;
  margin-right: 7px;
}

.invisible-tag:hover {
  left: -38px;
  border-radius: 15px;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  padding: 5px;
  background-color: #202124ff;
  color: white;
  position: relative;
  flex-direction: row;
  align-items: center;
  border-color: transparent;
}

.tag p {
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
}

.invisible-tag p {
  margin: auto;
  padding-right: 5px;
  font-size: 15px;
}

.tag.active {
  background-color: white;
  color: black;
  border: 1px solid lightgray;
  text-align: "center";
  cursor: default;
}
